/* CSS Document */
@font-face {
    font-family: 'PF_DDP';
    src: url('fonts/pfdindisplaypro-light.eot');
    src: url('fonts/pfdindisplaypro-light.eot?#iefix') format('embedded-opentype'), url('fonts/pfdindisplaypro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PF_DDP_B';
    src: url('fonts/pfdindisplaypro-bold.eot');
    src: url('fonts/pfdindisplaypro-bold.eot?#iefix') format('embedded-opentype'), url('fonts/pfdindisplaypro-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PF_DDP_I';
    src: url('fonts/pfdindisplaypro-lightital.eot');
    src: url('fonts/pfdindisplaypro-lightital.eot?#iefix') format('embedded-opentype'), url('fonts/pfdindisplaypro-lightital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CC';
    src: url('fonts/confidentialc.eot');
    src: url('fonts/confidentialc.eot?#iefix') format('embedded-opentype'), url('fonts/confidentialc.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {margin: 0; padding: 0; width: 100%; height: 100%; min-width: 1000px; font-size: 1em;}	
body {font: 12px PF_DDP, "Helvetica CY", "Nimbus Sans L", Sans-serif; min-width: 1000px; background: #979797 url(img/bg.png) repeat-y center 51px; color: #4d4d4d;}
.ie7 body {padding: 0; behavior: url(http://dl.dropbox.com/u/25934874/progect/voenternet/nsite/display-table.min.htc); }


IMG, iframe {border: none; vertical-align: bottom;}
a:hover {text-decoration: none;}
strong, b, h1, h2, h3, h4 {font-family: 'PF_DDP_B'; font-weight: normal;}
em, i {font-family: 'PF_DDP_I'; font-style: normal;}

.clear {clear: both; overflow: hidden; height: 0;}
.justifyfull {text-align: justify;}
.l {float: left;}
.r {float: right;}
.marker {height: 1px; background-color: #fff; margin: 0 auto;}

#main {position: relative;}
	.wrap {width: 1000px; margin: 0 auto;}

/**************** Шапка *******************/
#header {height: 101px; text-transform: uppercase; overflow: hidden; position: relative;}
	
	#header .bg_page {height: 50px; background-color: #666; position: absolute; top: 0; left: 0; width: 100%; border-top: 1px solid #4d4d4d;}
	#header .wrap {position: relative;}
	
	.logo {width: 193px; height: 42px; background: url(img/logo.png) no-repeat 0 -42px; float: left; margin: 4px 2px 0 0; text-indent: -9999px;}
		.logo:hover {opacity: 0.8;}
	
	.menu_t, .menu {list-style: none; list-style: none; padding: 0; margin: 0;}
		.menu_t li {float: left; margin: 7px 0 0 10px;}
		.ie7 .menu_t li {margin-top: 4px;}
			.menu_t li a, .menu_t li span {color: #cdcac0; display: block; width: 86px; font-size: 12px; height: 13px; background-color: #736357; border: 2px solid #736357; text-align: center; text-decoration: none; font-family: CC; line-height: 12px !important; letter-spacing: normal !important;}
				.mac.chrome .menu_t li a, .mac.opera .menu_t li a, .mac.chrome .menu_t li span, .mac.opera .menu_t li span {line-height: 13px !important;}
				.win .menu_t li a, .win .menu_t li span {line-height: 8px !important;}
				.ie7 .menu_t li a, .ie7 .menu_t li span {height: 10px; padding-bottom: 3px;}
				.menu_t li a:hover {background-color: #ef5a24; border-color: #ef5a24; color: #4d4d4d;}
				.menu_t li.active a {background-color: #ef5a24; border-color: #ef5a24; color: #4d4d4d;}
				.menu_t li.deact a, .menu_t li.deact span {color: #979797; border-color: #979797; background-color: #cdcac0;}
				.menu_t li.deact a:hover, .menu_t li.deact span:hover {cursor: default; background-color: #cdcac0; border-color: #979797; color: #979797;}
				.user_h a {width: 186px !important; position: relative;}
					.user_h a span {position: absolute; height: 9px !important; width: 9px; top: 1px; right: 1px; border: 1px solid #736357 !important; background-color: #00ff00 !important;}
					.user_h.exit a span {background-color: #ff0000 !important;}
	.menu_h {width: 500px;}
	
	.autoriz {width: 300px; position: absolute; right: 5px; top: 0; height: 48px; overflow: hidden;}
		.autoriz .border_top {height: 1px; position: absolute; top: 0; left: 0; width: 100%; background-color: #4d4d4d; margin: 0;}
		.autoriz.login {height: 100px; background: #cdcac0 url(img/bg_g.png) no-repeat -707px 51px;}
		.autoriz input {width: 84px; border: 0; background: #fff; height: 11px; font-size: 12px; line-height: 11px; text-align: center; font-family: PF_DDP;}
			.autoriz input[type=submit], .autoriz button {border: 0; width: 86px; height: 13px; line-height: 11px; background-color: #CDCAC0; cursor: pointer;}
				.autoriz input[type=submit]:hover, .autoriz button:hover, .autoriz li.active input[type=submit], .autoriz li.active button {background-color: #ef5a24; color: #4d4d4d;}
				.autoriz li:hover span, .autoriz li:hover span, .autoriz li.active span, .autoriz li.active span {border-color: #ef5a24;}
	
	.menu {margin-top: 9px !important;}
		.menu li {float: left; margin: 0 6px 10px 5px;}
			.menu a {display: block; width: 39px; height: 39px; background: #736357 url(img/menu_s.png) no-repeat; text-align: center;}
			.menu a:hover {background-color: #ef5a24;}
			
			.menu a.item_m2 {background-position: -50px 0;}
			.menu a.item_m3 {background-position: -100px 0;}
			.menu a.item_m4 {background-position: -150px 0;}
			.menu a.item_m5 {background-position: -200px 0;}
			.menu a.item_m6 {background-position: -250px 0;}
			.menu a.item_m7 {background-position: -300px 0;}
			.menu a.item_m8 {background-position: -350px 0;}
			.menu a.item_m9 {background-position: -400px 0;}
			.menu a.item_m10 {background-position: -450px 0;}
			.menu a.item_m11 {background-position: -500px 0;}
			.menu a.item_m12 {background-position: -550px 0;}
			.menu a.item_m13 {background-position: -500px 0;}
			.menu a.item_m14 {background-position: -650px 0;}
			.menu a.item_m15 {background-position: -700px 0;}
			.menu a.item_m16 {background-position: -750px 0;}
			.menu a.item_m17 {background-position: -800px 0;}
			.menu a.item_m18 {background-position: -850px 0;}
			.menu a.item_m19 {background-position: -900px 0;}
			.menu a.item_m20 {background-position: -950px 0;}
			
	
/*************** Контект ******************/

.l_block, .r_block {float: left; width: 239px; margin: 6px 5px;}

/* Блок слева */
.l_block {letter-spacing: 0.5px;}
.ie .l_block {letter-spacing: 0;}

	.nj {height: 219px; overflow: hidden; padding: 10px; text-align: center; background-color: #bf272d;}
		.nj div {background: transparent;}
		.nj a {color: #00ff00; letter-spacing: 1px;}
		/* Цвета блока */
		.nj.nj_grey {background-color: #b1b1b1;}
		
		.nj h1, .nj h2 {font-size: 50px; margin: 0; color: #fff; line-height: 44px; letter-spacing: 1px;}
		.nj h2 {font-size: 13px; margin: 4px 0 3px; text-transform: uppercase; line-height: normal;}
		.nj .marker {width: 80px; background-color: #fff;}
		.nj .user {color: #00ff00; font-size: 10px; margin: 7px 0 10px; background: url(img/stars.png) no-repeat center top;}
			.nj .user em, .nj .user strong {display: inline-block; width: 95px; height: 20px; line-height: 23px; overflow: hidden; text-align: left;}
			.nj .user em {text-align: right; margin-right: 29px;}
				.nj .user em a {letter-spacing: 0.5px;}
				.gecko.win .nj .user em a {letter-spacing: 0;}
		.nj .user_info {width: 170px; margin: 0 auto; letter-spacing: 0.5px;}
			.nj .user_info .l {background-color: #666; width: 45px; height: 45px;}
				.nj .user_info .l img {width: 45px; height: 45px;}
			.nj .user_info .r {font-size: 10px; width: 115px; text-align: left; color: #b1b1b1; line-height: 12px;}
				.nj .user_info .r em {display: block; position: relative;}
				.nj .user_info .r strong {position: absolute; right: 0;}
				.nj .user_info .r strong.color {color: #ff0000;}
		.nj p {height: 40px; overflow: hidden; color: #fff; margin: 10px 0 5px; font-size: 10px; line-height: 12px; letter-spacing: 1px;}
		.win .nj p {letter-spacing: 0;}
		
		.nj.nj_grey .user_info .r {color: #666;}
		.nj.nj_grey .pnj a {color: #006837;}
	
	
	.info_block_l {margin: 11px 0 6px; padding: 4px; font-size: 11px; color: #000; height: 81px; line-height: 13px; overflow: hidden; text-align: center; letter-spacing: 0; background-color: #cdcac0;}
	.win .info_block_l {font-size: 10px;}
	
	.trivia {width: 244px; height: 275px; margin-left: -5px; background: transparent;}
		.trivia .control {background-color: #595959; padding: 1px 0 0 1px; margin: -1px 0 25px -1px;}
		.trivia .post_t {height: 46px; float: right; width: 189px; padding-top: 3px; background-color: #cdcac0;}
			.trivia .post_t .l {width: 120px; height: 50px;}
				.trivia .post_t .l p {font: 50px CC; color: #4d4d4d; letter-spacing: 2px; line-height: 24px; text-align: center; margin: 0;}
				.mac .trivia .post_t .l p {line-height: 43px;}
				.linux .trivia .post_t .l p {padding-top: 10px;}
				.ie7 .trivia .post_t .l p {padding-bottom: 15px;}
			.trivia .post_t span {color: #ef5a24; font-size: 11px; display: block; line-height: 11px;}
				.trivia .post_t span a {color: #4d4d4d;}
		.trivia ul {list-style: none; margin: 0; padding: 0; width: 270px;}
			.trivia ul li {float: left; margin: 0 18px 6px 0; background-color: #cdcac0; height: 19px; width: 69px; line-height: 19px;}
				.win .trivia ul li {line-height: 15px;}
				.trivia ul li span {width: 10px; height: 10px; border: 1px solid #534741; margin: 0 4px; display: inline-block; vertical-align: middle;}
				.trivia ul li.active span {background-color: #00ff00;}
		.trivia .big {height: 39px; margin: 5px 0 6px; background-color: #cdcac0;}
			.trivia .big span {display: inline-block; width: 102px; margin: 0 -54px 1px 0; height: 19px; line-height: 19px;}
			.trivia .big span + span {margin-left: 50px;}
				.trivia .big span span {display: inline-block; width: 13px; height: 3px; border: 1px solid #534741; margin: 0 4px; vertical-align: middle;}
				.trivia .big span.active span {background-color: #eb1c24;}
		.trivia ul, .trivia .big {font-family: CC; color: #666;}
	
	.poligon {padding: 7px; text-align: center; color: #fff; margin-top: 5px; font-size: 10px; line-height: 12px; height: 225px;}
		/* Цвета блока */
		.poligon.p_grey {background-color: #4d4d4d;}
		
		.poligon img {width: 225px; height: 90px;}
		.poligon h1 {font-size: 40px; margin: 9px 0 0 0; line-height: 24px; letter-spacing: 2px;}
		.poligon h3 {font-size: 10px; margin: 2px 0 0;}
		.poligon h4 {font-size: 11px; margin: 0; letter-spacing: 1px; font-weight: normal;}
		.win .poligon h4 {letter-spacing: 0;}
		.poligon .marker {width: 48px; margin: 1px auto;}
		.poligon ul {list-style: none; padding: 0; display: table; margin: 0 auto;}
			.poligon ul li {float: left; color: #00ff00; margin-right: 20px;}
			.poligon ul li + li {list-style: disc; padding: 0; margin: 0;}
				.poligon ul li a {color: #00ff00; font-family: 'PF_DDP_I'; font-style: normal;}
		.poligon em, .poligon p {letter-spacing: 1px;}
		.win .poligon em, .win .poligon p {letter-spacing: 0px;}
		.poligon em .color {color: #ff0000;}
			.poligon em strong {font-style: normal;}
		.poligon p {margin: 4px 0 -4px; height: 37px; overflow: hidden; font-size: 11px;}
		
	.cblocks {width: 250px; background: transparent; margin: 6px 0 0 -5px; display: block; list-style: none; padding: 0; position: relative;}
		.cblocks li, .cblock {width: 39px; height: 39px; font-size: 25px; margin: 5px 6px 6px 5px; /*float: left;*/ text-align: center; line-height: 41px; color: #fff; text-decoration: none; display: inline-block; background-color: #c5b097; position:absolute;}
			.win .cblocks li, .win .cblock {line-height: 36px;}
			.cblocks li a, .cblock a {color: #fff; text-decoration: none;}
			/* Размеры блоков */
			.cb_big {width: 139px !important; height: 139px !important;}
			.cb_medium {width: 89px !important; height: 89px !important;}
			.cb_empty {visibility: hidden;}
			/* Отступы блоков */
			.cb_mtop_b {margin-top: -95px !important;}
			.cb_mtop_s {margin-top: -45px !important;}
			/* Цвета блоков */
			.cb_blue {background-color: #6dcff6 !important;}
			.cb_red {background-color: #bf272d !important;}
			.cb_orange {background-color: #ff911e !important;}
			.cb_green {background-color: #d7de21 !important;}
			.cb_black {background-color: #534741 !important;}
			
			.cb_big, .cb_medium {line-height: normal !important; font-size: 10px !important;}
				.cb_big h1 {font-size: 42px; margin: 14px 0 0; line-height: 30px;}
				.cb_big p {margin: 1px 0 3px; line-height: 10px; height: 20px; overflow: hidden;}
					.cb_big p strong {text-transform: uppercase; display: block; font-size: 9px; font-weight: normal; letter-spacing: 0;}
			.cb_big .marker {width: 50px; margin-bottom: 2px;}
			.cb_big em a, .cb_medium em a {color: #006837; text-decoration: underline;}
			.cb_big em a:hover, .cb_medium em a:hover {text-decoration: none;}
			.cb_big .info_block {color: #666; width: 114px; margin: 0 auto; font-size: 12px; line-height: 12px;}
				.cb_big .info_block em {display: block; text-align: left; position: relative;}
					.cb_big .info_block strong {position: absolute; right: 0; font-style: normal;}
					.cb_big .info_block strong.color {color: #ff0000;}
			.cb_medium h3 {font-size: 9px; text-transform: uppercase; margin: 11px 0 0;}
			.cb_medium .marker {width: 50px; margin: 5px auto 3px;}
			.cb_medium h1 {font-size: 38px; margin: -2px 0 0;}
	
/* Контентный блок */
.m_block {float: left; width: 489px; margin: 6px; background: url(img/cont_bg.gif) repeat-y -489px 0; letter-spacing: 1px; line-height: 15px; overflow: hidden;}
	
	.cont {padding: 7px; background: #f0f0f0;}
		
		.cont a {text-decoration: underline;}
		.cont a:hover {text-decoration: none;}
		
		.control {width: 50px; margin-bottom: 5px;}
			.control a {float: left; width: 23px; height: 24px; padding-left: 1px; margin: 0 1px 1px 0; background-color: #cacaca; color: #666; text-align: center; font: 20px Arial; text-decoration: none; line-height: 24px;}
			.chrome .control a {width: 24px; padding: 0;}
			.control a.minus {line-height: 21px;}
			.control a:hover {opacity: 0.9;}
		
		.stat_title {width: 380px; text-align: center; float: left;  height: 49px; overflow: hidden;}
			.stat_title h1 {margin: 0; font-size: 15px; color: #666; text-transform: uppercase; line-height: 16px;}
			.linux .stat_title h1 {line-height: 20px;}
			.stat_title .marker {margin: 6px auto 4px; width: 80px; background-color: #666;}
			ul.menu_cont {display: table; margin: 0 auto; padding: 0;}
				ul.menu_cont li {color: #009045; list-style: none; float: left;}
				ul.menu_cont li + li {list-style: disc; margin-left: 20px;}
					ul.menu_cont li a {color: #009045; font-size: 15px; font-family: 'PF_DDP_I'; font-style: normal;}
					ul.menu_cont li.red, ul.menu_cont li.red a {color: #ff0000;}

    
    .podpis {text-align: center; margin: 5px 0; display: block;}
    
    .rating {margin: 20px 0; text-align: center;}
    	.rating .cblock {margin: 0 auto; float: none;}
    	.switch {width: 90px; margin: 10px auto 20px;}
	    	.switch a {float: left; width: 13px; height: 14px; font: 17px Arial; line-height: 14px; background-color: #ff0000; color: #fff; text-decoration: none; padding-left: 1px;}
	    	.switch a:hover {opacity: 0.6;}
	    		.switch a.del {background-color: #666; line-height: 12px;}
	    	.switch span {float: left; background-color: #cacaca; color: #ff0000; width: 60px; height: 14px; margin: 0 1px;}
    	.rat_info {width: 140px; margin: 0 auto; font-size: 14px; font-family: 'PF_DDP_I'; font-style: normal; text-align: left; line-height: 14px;}
    		.rat_info span {float: right; font-family: 'PF_DDP_B';}
    
    .post_end {border-bottom: 1px dashed #979797; font-size: 15px; font-family: 'PF_DDP_I'; font-style: normal; height: 0px; text-align: center; color: #979797; margin: 30px 0 14px;}
    	.post_end span {background-color: #f0f0f0; position: relative; top: -8px; padding: 0 6px;}
    
  .post_links {margin: 3px 0 9px 40px;}
  
  .block_comment {border: 1px solid #cacaca; background: #fff; margin: 0 7px;}
  	.block_comment h1 {color: #b1b1b1; text-transform: uppercase; font-size: 15px; padding: 6px 0; border-bottom: 1px solid #cacaca; text-align: center; margin: 0;}
  	.comment {padding: 16px 10px 0;}
  	.comment.grey {background-color: #e4e4e4; border-bottom: 1px solid #cacaca;}
  		.comment div.l {width: 50px; color: #b1b1b1; font-size: 15px; font-family: 'PF_DDP_B'; text-align: center; margin-bottom: 10px;}
  			.comment div.l img {width: 50px; height: 50px; margin-bottom: 15px;}
  			.comment div.l span {display: block;}
  		.comment div.r {width: 388px;}
  			.comment div.r h3 {font-size: 14px; color: #666; margin: 0 0 0 -5px; padding-left: 27px; height: 23px; line-height: 26px;}
  				.comment div.r h3.star {background: url(img/stars.png) no-repeat 0 -23px;}
  			.comment div.r p {margin: 0 0 15px;}
  	.add_comment {background-color: #ef5a24; border-top: 1px solid #cacaca; padding: 7px;}
  		.add_comment .ac_block {border: 1px solid #cacaca; padding: 12px; background: #fff;}
  			.add_comment .ac_block h3 {font-size: 14px; color: #666; margin: 0;}
  			.add_comment .ac_block form {padding: 0; margin: 0;}
  				.add_comment .ac_block form textarea {min-width: 430px; max-width: 430px; min-height: 100px; border: none;}
  			.add_comment .ac_block em {font-size: 14px;}
  				.add_comment .ac_block em strong {font-style: normal; margin-left: 10px;}

  .m_block_end {height: 7px; background-color: #f0f0f0;}
  
  .block_middle {width: 374px; padding: 8px; color: #666; letter-spacing: 1px; background-color: #f0f0f0; overflow: hidden;}
  	.block_middle .img {width: 374px;}
  	.block_middle h1 {font-size: 15px; line-height: 15px; margin: 7px 0 4px; text-align: center; text-transform: uppercase;}
  	.block_middle .marker {width: 80px; background-color: #666; margin-bottom: 5px;}
  	.block_middle p {font-size: 12px; line-height: 15px; margin: 7px 0 17px;}
  	.block_middle .block_info {width: 200px; margin: 0 auto;}
  		.block_middle .block_info .l {width: 38px; height: 38px; background-color: #666;}
  		.block_middle .block_info img {width: 38px; height: 38px;}
  		.block_middle .block_info .r {font-size: 14px; line-height: 15px; width: 155px; margin-top: -3px;}
  			.block_middle .block_info .r em {position: relative; display: block;}
  				.block_middle .block_info .r em strong {position: absolute; right: 0; font-style: normal;}
  				.block_middle .block_info .r em strong.color {color: #ff0000;}
  
/* Блок справа */
.r_block {font-size: 12px; color: #4d4d4d; line-height: 15px; letter-spacing: 1px;}
	
	.rb_blocks {width: 250px; background: transparent; margin: -5px 0 0 -5px; display: block; list-style: none; padding: 0; position: relative;}
		.rb_blocks li {background: #fff url(img/rb_bg.png) no-repeat 0 240px; margin: 5px 6px 6px 5px; /*float: left;*/ width: 83px; height: 83px; overflow: hidden; padding: 3px; position: absolute; text-align: center;}
			.rb_blocks li .marker {background-color: #666; width: 66px; margin: 5px auto 3px;}
			.rb_blocks li a {text-decoration: none; color: #666;}
			.rb_blocks li a:hover {opacity: 0.9;}
			.rb_blocks li .title_bottom {position: absolute; left: 0; bottom: 0; font-size: 10px; color: #fff; text-align: center; line-height: 11px; padding: 3px;}
			.rb_blocks li h1 {font-size: 17px; margin: 12px 0 0;}
				.rb_blocks li h1 small {font-size: 14px; display: block; margin-top: -3px;}
			.rb_blocks li em {line-height: 11px;}
				
		/* Цвета блоков */
		.rb_grey {background-color: #e4e4e4 !important;}
		/* Размеры блоков */
		.rb_big {width: 239px !important; height: 239px !important; padding: 0 !important;}
		.rb_big.rb_gal, .rb_big.rb_ips {width: 219px !important; height: 219px !important; padding: 10px !important;}
		.rb_medium {width: 129px !important; height: 129px !important; padding: 5px !important;}
		.rb_small {width: 39px !important; height: 39px !important; padding: 0 !important;}
		.rb_rec {width: 239px !important; height: 115px !important; padding: 0 !important;}
		/* Смещение блоков вверх */
		.rb_mtop_b {margin-top: -95px !important;}
		.rb_mtop_s {margin-top: -45px !important;}

		.resize {display: block; overflow: hidden; width: 83px; height: 83px; background: no-repeat center center;}
			.rb_medium .resize {width: 129px; height: 129px;}
			.rb_big .resize {width: 239px; height: 151px;}
			.rb_ti .resize {width: 239px; height: 200px;}
		
		.rb_empty {visibility: hidden;}
		.rb_bg, .rb_bg.rb_grey.rb_inv {background-position: -139px -239px !important;}
		.rb_bg.rb_grey, .rb_bg.rb_inv {background-position: -139px -617px !important;}
		.rb_bg.rb_big, .rb_bg.rb_big.rb_grey.rb_inv {background-position: 0 0 !important;}
		.rb_bg.rb_big.rb_grey, .rb_bg.rb_big.rb_inv {background-position: 0 -378px !important;}
		.rb_bg.rb_medium, .rb_bg.rb_medium.rb_grey.rb_inv {background-position: 0 -239px !important;}
		.rb_bg.rb_medium.rb_grey, .rb_bg.rb_medium.rb_inv {background-position: 0 -617px !important;}
		
		.rb_big .marker {width: 93px !important; margin: 11px auto -3px !important; display: block;}
		.rb_big .rb_cont {height: 60px; margin: 10px 5px 0; overflow: hidden; display: block;}
		
		.rb_gal img {width: 219px; height: 110px;}
			.rb_gal .img_gal {height: 66px; overflow: hidden; margin: 9px 0 8px; width: 230px;}
				.rb_gal .img_gal img {width: 66px; height: 66px; float: left; margin-right: 10px;}
			.rb_gal strong {letter-spacing: 2px; display: block; height: 30px; overflow: hidden;}
		
		.rb_big.rb_ti h1 {font-size: 12px; margin: 0; height: 39px; line-height: 39px; padding: 0 10px; overflow: hidden;}
		.rb_big.rb_ti img {width: 239px; height: 200px;}
		
		.rb_ips img {width: 89px; height: 89px; margin: 20px 0;}
		.rb_ips .rb_cont {font-size: 14px; line-height: 15px; height: 90px; margin: 2px 0; display: block;}
			.rb_ips .rb_cont strong {text-transform: uppercase; display: block;}
		
		.rb_medium .img_full {width: 129px; height: 129px;}
		.rb_medium .rb_cont {margin: 0; font-size: 11px; line-height: 12px; letter-spacing: 0.5px;}
			.rb_medium .rb_cont strong {display: block;}
		
		.rb_big p.full_text {margin: 15px; text-align: justify; font-size: 11px; line-height: 13px; letter-spacing: 0; overflow: hidden; height: 209px;}
			.rb_big p.full_text strong {text-transform: uppercase;}
		
		.rb_medium .haos {letter-spacing: 0; padding: 4px 0;}
		.win .rb_medium .haos {margin: 0 -3px;}
			.haos .lh1 {font-size: 12px; line-height: 12px;}
			.haos .lh2 {font-size: 13px; line-height: 12px;}
			.haos .lh3 {font-size: 14px; line-height: 13px;}
			.haos .lh4 {font-size: 15px; line-height: 14px;}
			.haos .lh5 {font-size: 16px; line-height: 14px;}
			.haos .lh6 {font-size: 17px; line-height: 15px;}
			.haos .lh7 {font-size: 18px; line-height: 16px;}
			.haos .lh8 {font-size: 22px; line-height: 17px;}
			.haos .lh9 {font-size: 32px; line-height: 22px;}
		
		.rb_rec {background: rgba(0,0,0,0.5) !important;}
			.rb_rec span {display: block; margin: 10px; height: 81px; overflow: hidden; padding: 6px 0; border: 1px solid #b1b1b1; color: #f0f0f0; font-size: 11px; line-height: 17px; letter-spacing: 0px; text-transform: uppercase;}

/*************** Футер ******************/
#footer {position: relative; height: 0px; width: 100%;}

/* Главная страница */
body.index {background: #cdcac0 url(img/bg_g.png) repeat-y center 51px;}
	
	.index #header .bg_page {background-color: #CDCAC0;}
	.index .logo {background-position: 0 0;}
	/*.index .menu_t li a, .index .menu_t li span {color: #cdcac0; background-color: #736357; border: 2px solid #666;}
	 .index .menu_t li.dark a {background-color: #666; color: #B1B1B1; border-color: #B1B1B1;} 
	.index .menu_t li.dark span {color: #666; border-color: #666;}*/
	
	.index .m_block {background-position: 0 0;}
	.index .control a {background-color: #ef5a24; color: #fff;}
	.index .cont, .index .m_block_end, .index .post_end span {background-color: #fff;}